body {
	background-color: #343a40 !important;
}

.socialGraph{
	background-color: #343a40 !important;
}

.home{
	background-color: #343a40 !important;
}

.nav-custom{
	width: 70% !important;
}

.table-custom{
	margin-top: 150px;
}



.characters-form{
	display: inline-block !important;
}

.characters-button{
	color: white !important;
	border-color: white !important;
}

.characters-button:hover{
	background-color: white !important;
	color: #343a40 !important;
	border-color: #343a40 !important;
}

.size-custom{
	background-color: #212529 !important;
	color: white !important;
}

.container-new{
	max-width: 100% !important;
}

.stats{
	background-color: white !important;
}

.info{
	width: 500px;
}

