body {
	background-color: #343a40 !important;
}

.socialGraph{
	background-color: #343a40 !important;
}

.home{
	background-color: #343a40 !important;
}

.nav-custom{
	width: 70% !important;
	margin-left: 100px;
}

.footer-text{
	color: #fffff0;
	font-size: 14px;
}

.box-legend{
	width: 100%;
	height: 100%;
}

.legend{
	margin-top: 40px;
}

.row-legend{
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	color: white;
	text-align: right;
}

.good{
	background-color: #49a4e0;
}

.bad{
	background-color: #e04949;
}

.neutral{
	background-color: #ada5c3;
}

.notdefined{
	background-color: #d7d6da;
}

.table-custom{
	margin-top: 80px;
}

.table{
	border-radius: 5px;
}

.label{
	font-size: 9px;
	user-select: none;
}

.chartLine{
	fill: none;
	stroke-width: 0.5;
}

.ui-autocomplete{
	margin-top: 2px;
	list-style: none;
	background-color: white;
	border: 1px solid grey;
	border-radius: 5px;
}

.ui-autocomplete > li{
	padding: 0.5%;
}

.ui-autocomplete > li:hover{
	background-color: #343a40;
	color: white;
}

.ui-helper-hidden-accessible{
	display: none;
}

.chartAxis{
	color: #a39d9d;
}

.characters-form{
	display: inline-block !important;
}

.characters-button{
	color: white !important;
	border-color: white !important;
}

.characters-button:hover{
	background-color: white !important;
	color: #343a40 !important;
	border-color: #343a40 !important;
}

.size-custom{
	background-color: #212529 !important;
	color: white !important;
}

.container-new{
	max-width: 100% !important;
}

.stats{
	background-color: white !important;
}

.info{
	width: 500px;
}


